body {
    font-family: 'IBM Plex Sans', 'Arial', sans-serif;
}

@keyframes spinWords {
  10% {
    transform: translateY(-104%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-204%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-304%);
  }
  75% {
    transform: translateY(-300%);
  }
  85% {
    transform: translateY(-404%);
  }
  100% {
    transform: translateY(-400%);
  }
}
